<h2>Form Template Driven</h2>

<form #myForm="ngForm" (ngSubmit)="onSubmit( myForm.value )">
  <p>
    <label>First Name</label><br>
    <input type="text" name="firstname"
    [(ngModel)]="firstname" required>
  </p>
  <p>
    <label>Last Name</label><br>
    <input type="text" name="lastname"
    [(ngModel)]="lastname" required>
  </p>
  <p>
    <label>Email</label><br>
    <input type="email" name="email"
    [(ngModel)]="email" required email>
  </p>
  <p>
    <label>Message</label><br>
    <textarea name="message"
    [(ngModel)]="message">
    </textarea>
  </p>
  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
